.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom:10px
}
@media screen and (max-width:576px) {
    .products{
        grid-template-columns: repeat(1,1fr)
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .products{
        grid-template-columns: repeat(2,1fr)
    }
}