.banner{
    background-image: url('../../../Images/banner.jpg');
    background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   position:relative;
   height:400px;

 
  
}
.banner-des{
    display:flex;
    color:#00bba7;
    
}